include /_header

body
	section#todoapp(ng-controller='TodoCtrl')
		header#header
			h1 todos
			form#todo-form(ng-submit='addTodo()')
				input#new-todo(placeholder='What needs to be done?', ng-model='newTodo', autofocus='autofocus')
		section#main(ng-show='todos.length', ng-cloak='ng-cloak')
			input#toggle-all(type='checkbox', ng-model='allChecked', ng-click='markAll(allChecked)')
			label(for='toggle-all') Mark all as complete
			ul#todo-list
				li(ng-repeat='todo in todos | filter:statusFilter', ng-class='{completed: todo.completed, editing: todo == editedTodo}')
					.view
						input.toggle(type='checkbox', ng-model='todo.completed')
						label(ng-dblclick='editTodo(todo)') {{todo.title}}
						button.destroy(ng-click='removeTodo(todo)')
					form(ng-submit='doneEditing(todo)')
						input.edit(ng-model='todo.title', todo-blur='doneEditing(todo)', todo-focus='todo == editedTodo')
		footer#footer(ng-show='todos.length', ng-cloak='ng-cloak')
			span#todo-count
				strong {{remainingCount}}
				ng-pluralize(count='remainingCount', when='{ one: \'item left\', other: \'items left\' }')
			ul#filters
				li
					a(ng-class='{selected: location.path() == \'/\'} ', href='#/') All
				li
					a(ng-class='{selected: location.path() == \'/active\'}', href='#/active') Active
				li
					a(ng-class='{selected: location.path() == \'/completed\'}', href='#/completed') Completed
			button#clear-completed(ng-click='clearCompletedTodos()', ng-show='completedCount') Clear completed ({{completedCount}})

include /_footer